@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins',sans-serif;
}
.contenedor{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 100vh;
  width: 100vw;
}
.button{
  width: 250px;
  height: 50px;
  background-color: #3B82F6;
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  border: none;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acordeon{
  width: 250px;
  margin-top: 5px;
}
p{
  border: 1px solid #97959B;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 5px;
  margin: 3px auto;
}
a{
  text-decoration: none;
}
.contenedor-menu{
  width: fit-content;
  margin: 50px;
  line-height: 18px;
  list-style: none;

}


.contenedor-menu .menu{
  width: 100%;
}

.contenedor-menu ul{
  list-style:none;
  margin-left: -40px; /* Este margen aun no esta en la linea de codigo */
}

.contenedor-menu .menu li a{
  display: block;
  padding: 15px 20px;
  color: #494949;
  margin-bottom: 5px;
  border-radius: 3px;
}

.contenedor-menu .menu li a.principal{

  background-color: #3B82F6;
  color: white;
  text-align: center;
}

.contenedor-menu .menu li .icono{
  font-size: 16px;
  line-height: 18px;
}

.contenedor-menu .menu li .icono.izquierda{
  float: left;
  margin-right: 10px;
}

.contenedor-menu .menu li .icono.derecha{
  float: right;
  margin-left: 10px;
}

.contenedor-menu .menu li ul a{
  text-align: center;
  border: 1px solid #97959B;
}

.contenedor-menu .menu li ul{
  *display: none;
}
